<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-playinstall-referrer" version="0.0.1" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>GooglePlayInstallReferrer</name>
    <description>An Android Cordova plugin that allows users to capture google play install referrer</description>
    <license>MIT</license>
    <keywords>cordova,android,referrer,install,install-referrer</keywords>
    <repo>https://github.com/shadrach-tayo/cordova-plugin-playinstall-referrer.git</repo>
    <issue>https://github.com/shadrach-tayo/cordova-plugin-playinstall-referrer/issues</issue>

    <js-module name="GooglePlayInstallReferrer" src="www/GooglePlayInstallReferrer.js">
        <clobbers target="cordova.plugins.googlePlayInstallReferrer" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>


    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="PlayInstallReferrer">
                <param name="android-package" value="com.shadrach.cordova.plugin.PlayInstallReferrer" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/PlayInstallReferrer.java" target-dir="src/cordova-plugin-playinstall-referrer/PlayInstallReferrer" />
    </platform>
</plugin>